@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
