/* Import CSS Variables */
@import "tailwindcss";
@import "./tailwind-config.css";

/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* Custom Utilities - Global */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
